

.accountPage {
    /* margin: 20px; */
    background-color: rgb(222, 230, 232);
    display: flex;
    height: 100vh;
}

.accountPage__left {
    flex: 0.5;
    background-color: rgb(253, 254, 254);
    margin: 20px 2px 20px 20px;
    border-radius: 10px 0px 0px 10px;
    /* box-shadow: 0px 0px 0px -2px rgba(0, 0, 0, 0.1); */
    text-align: center;

    & > p {
        font-size: 12px;
        margin-top: 10px;
        color: gray;
    }
    
    & > img {
        width: 700px;
        height: 500px;
        border-radius: 10px;
    }
}


.accountPage__right {
    flex: 0.5;
    background-color: white;
    margin: 20px 20px 20px 2px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);

    & > h2 {
        margin: 80px 0px 35px 100px;
    }
    
    & > form {
        display: flex;
        flex-direction: column;
        /* background-color: lightgrey; */
        margin: 20px 50px 0px 100px;
    }
     
    & > form > label {
        font-size: 13px;
        font-weight: bold;
        color: gray;
        margin-top: 10px;
    }
    
    & > form > input {
        padding: 12px;
        margin: 5px 0px 5px 0px;
        width: 60%;
        border: 1px solid gray;
        border-radius: 5px;
    }
    
    & > form > div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: -12px;
    }
    
    & > form > p {
        padding: 10px;
        background-color: skyblue;
        width: 200px;
        text-align: center;
        color: white;
        font-size: 15px;
        font-weight: 500;
        border-radius: 5px;
        margin-top: 20px;
        cursor: pointer;
    }
}


.error__message {
    color: red;
}

